<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('花花的店-商品详情','detail')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>

<div id="detail" style="height: 1000px;background-color:#ececec">
    <!-- nav -->
    <nav th:replace="mall/header::nav-fragment"></nav>

    <div class="dc">
        <div class="content w">
            <div class="title fl">商品详情</div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="intro mt20 w clearfix" >
        <div class="left fl" style="position: relative;">
            <div class="swiper-container fl">
                <img th:src="@{${goodsDetail.goodsCoverImg}}">
            </div>
        </div>
        <div class="right fr">
            <div class="h3 ml20 mt20" th:text="${goodsDetail.goodsName}">goodsName</div>
            <div class="sub_title mr40 ml20 mt10" th:text="${goodsDetail.goodsIntro}">goodsIntro</div>
            <div class="item_price mr40 ml20 mt10">
                <th:block th:text="${goodsDetail.sellingPrice}+'.00 元'"></th:block>
                <del>
                    <span>原价</span>
                    <th:block th:text="${goodsDetail.originalPrice}+'.00 元'"></th:block>
                </del>
            </div>

            <div class="order">
                <input class="car" type="button" th:onclick="'saveAndGoCart('+${goodsDetail.goodsId}+')'" value="立即选购"/>
                <input class="car" type="button" th:onclick="'saveToCart('+${goodsDetail.goodsId}+')'" value="加入购物车"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl>
                    <dt>承诺</dt>
                    <dd>💐鲜花都是使用最新花材</dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd>若有因其他不可抗因素本店都将无理由支持退换货！！</dd>
                </dl>

            </div>
        </div>

    </div>
</div>

<!-- jQuery -->
<script th:src="@{/static/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/static/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/static/mall/js/search.js}" type="text/javascript"></script>
<script type="text/javascript">
    /**
     * 添加到购物车
     */
    function saveToCart(id) {
        var goodsCount = 1;
        var data = {
            "goodsId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "添加成功",
                        text: "确认框",
                        icon: "success",
                        buttons: true,
                        dangerMode: true,
                    }).then((flag) => {
                            window.location.reload();
                        }
                    );
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }

    /**
     * 添加到购物车并跳转至购物车页面
     */
    function saveAndGoCart(id) {
        var goodsCount = 1;
        var data = {
            "goodsId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "已将商品加入购物车",
                        icon: "success",
                        buttons: {
                            cancel: "留在当前页",
                            confirm: "去购物车结算"
                        },
                        dangerMode: false,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/shop-cart';
                            }
                        }
                    );
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
</body>
</html>
